@font-face {
  font-family: "Whyte Inktrap Heavy";
  src: url(static/fonts/Whyte-Inktrap-Heavy.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Surt";
  src: url(static/fonts/Surt-SemiBold.woff2) format("woff");
  font-display: swap;
  font-style: bold;
  font-weight: 800;
}

:root {
  --color-white: #fafafa;
  --color-black: #000000;
  --color-primary: #d5ff5c;
  --color-light-grey: #a5a5a5;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Surt", serif;
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
}

header {
  padding: 1rem;
}

main {
  padding: 1rem;
}

section {
  margin: 4rem 0;
}

img {
  object-fit: contain;
  width: 100%;
}

button > a {
  text-decoration: none;
}

button.secondary > a {
  color: var(--color-white);
}

button > a:visited {
  color: var(--color-black);
}

button.secondary > a:visited {
  color: var(--color-white);
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-primary);
  color: var(--color-black);
  border-color: none;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: none;

  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;

  text-align: center;
  padding: 0 1.25rem;

  font-family: "Surt", serif;
}

button:hover {
  cursor: pointer;
}

button.secondary {
  background-color: transparent;
  color: var(--color-white);
  border: 1px solid var(--color-white);
}

p {
  color: var(--color-light-grey);
  padding: 0 18vw;
}

.heavy {
  font-family: "Whyte Inktrap Heavy", serif;
  font-size: 10vw;
  font-weight: bolder;
  line-height: 1;
}

section > :last-child {
  margin-top: 1.5rem;
}
