@font-face {
  font-family: "Whyte Inktrap Heavy";
  src: url(static/fonts/Whyte-Inktrap-Heavy.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Surt";
  src: url(static/fonts/Surt-SemiBold.woff2) format("woff");
  font-display: swap;
  font-style: bold;
  font-weight: 800;
}

:root {
  --color-white: #fafafa;
  --color-black: #000000;
  --color-primary: #d5ff5c;
  --color-light-grey: #a5a5a5;
  --side-gutter: 2rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Surt", serif;
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
  margin: 0;
  padding: 0;
}

section {
  margin: 4rem 0;
}

img {
  object-fit: contain;
  width: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

button.secondary > a {
  color: var(--color-white);
}

button > a:visited {
  color: var(--color-black);
}

button.secondary > a:visited {
  color: var(--color-white);
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-primary);
  color: var(--color-black);
  border-color: none;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: none;

  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;

  text-align: center;
  padding: 0 1.25rem;

  font-family: "Surt", serif;
}

button:hover {
  cursor: pointer;
}

button.secondary {
  background-color: transparent;
  color: var(--color-white);
  border: 1px solid var(--color-white);
}

p {
  color: var(--color-light-grey);
  padding: 0 18vw;
}

.heavy {
  font-family: "Whyte Inktrap Heavy", serif;
  font-size: 13vw;
  font-weight: 900;
  line-height: 0.9;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

section > :last-child {
  margin-top: 1.5rem;
}

ul {
  list-style-type: none;
  padding-inline-start: unset;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 var(--side-gutter);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul li {
  font-weight: lighter;
}

.nav-colored {
  background-color: var(--color-black);
  transition: 0.3s ease-in-out;
}

.nav-transparent {
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
