#app {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

#app > header {
  grid-area: header;
}

#app > main {
  grid-area: main;
}

#app > footer {
  grid-area: footer;
}

.logo {
  width: auto;
  height: 1.75rem;
}

.heavy {
  font-family: "Whyte Inktrap Heavy", serif;
  font-size: 12vw;
  font-weight: 900;
  line-height: 0.9;
  margin: 0;
}

.gutters {
  margin-left: var(--side-gutter);
  margin-right: var(--side-gutter);
}

@media (min-width: 768px) {
  .gutters {
    margin-left: calc(var(--side-gutter) * 2);
    margin-right: calc(var(--side-gutter) * 2);
  }
}

.text-gutters {
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .text-gutters {
    padding: 0 16vw;
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.wrap {
  flex-wrap: wrap;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.space-y-2 > * + * {
  margin-top: 2rem;
}

.hero {
  object-fit: cover;
  width: 100%;
  height: 90vh;
}

.hero-small {
  object-fit: cover;
  width: 100%;
  height: 60vh;
}

.mobile-only {
  display: revert;
}

.desktop-only {
  display: none;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: revert;
  }
}

.cta {
  margin-top: 1rem;
}

.section {
  margin-bottom: 6rem;
}
