.glide {
  position: relative;
}

.glide__arrows {
  position: absolute;
  top: 40%;
  width: 100%;
}

.glide__arrow {
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 100%;
  padding: 0.5rem;
}

.glide__arrow--left {
  position: absolute;
  left: 0;
}

.glide__arrow--right {
  position: absolute;
  right: 0;
}

.glide__slide {
  padding: 3rem;
}

.glide__slide .caption {
  margin-top: 1rem;
  font-size: larger;
}

/* .carousel {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.carousel {
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel .asset {
  display: inline-block;
  scroll-snap-align: center;
  min-width: 90%;
  margin: 0 var(--side-gutter);
}

.carousel .asset img {
  border-radius: 1rem;
  height: 90vh;
}

.carousel .caption {
  margin-top: 1rem;
  font-size: larger;
}

.carousel .link {
  position: absolute;
  top: 50%;
}

.carousel .link-prev {
  left: -1rem;
}

.carousel .link-next {
  right: -1rem;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 20%;
  width: 4rem;
  height: 4rem;
  transform: translateY(80%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before {
  content: "";
  background-image: url("../../static/icons/chevron-left.svg");
}

.carousel::after {
  content: "";
  background-image: url("../../static/icons/chevron-right.svg");
} */

/* @keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 55%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
  overflow-anchor: none;
  scroll-margin-top: 4rem;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  counter-increment: item;
}

.carousel__slide:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  background-position: center;
  background-size: 65%;
  background-repeat: no-repeat;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 15%;
  transform: translateY(85%);
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #333;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 20%;
  width: 4rem;
  height: 4rem;
  transform: translateY(80%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: 0;
}

.carousel::after,
.carousel__next {
  right: 0;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("../../static/icons/chevron-left.svg");
}

.carousel::after {
  background-image: url("../../static/icons/chevron-right.svg");
}

.carousel__text {
  position: absolute;
  bottom: 8%;
  transform: translateY(92%);
  text-align: center;
  width: 100%;
  font-size: x-large;
} */
