@font-face {
  font-family: "Whyte Inktrap Heavy";
  src: url(../../static/fonts/Whyte-Inktrap-Heavy.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Surt Regular";
  src: url(../../static/fonts/Surt-Regular.woff2) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Surt SemiBold";
  src: url(../../static/fonts/Surt-SemiBold.woff2) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Surt SemiBold Expanded";
  src: url(../../static/fonts/Surt-SemiBoldExp.woff2) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Surt SemiBold Extended";
  src: url(../../static/fonts/Surt-SemiBoldExtended.woff2) format("woff");
  font-display: swap;
}
