@font-face {
  font-family: "Whyte Inktrap Heavy";
  src: url(../../static/fonts/Whyte-Inktrap-Heavy.otf) format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Surt";
  src: url(../../static/fonts/Surt-SemiBold.woff2) format("woff");
  font-display: swap;
  font-style: bold;
  font-weight: 800;
}
