html {
  font-size: 16px;
  font-family: "Surt Regular", serif;
  font-weight: 400;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Surt SemiBold Extended", serif;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }
}

p {
  color: var(--color-light-grey);
  font-size: 1.5rem;
}

section {
  margin: 6rem 0;
}

@media (min-width: 768px) {
  section {
    margin: 12rem 0;
  }
}

section p {
  margin: revert;
}

@media (min-width: 768px) {
  section p {
    margin: 2rem;
  }
}

img {
  object-fit: contain;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

a:hover > button {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

button.secondary > a {
  color: var(--color-white);
}

button > a:visited {
  color: var(--color-black);
}

button.secondary > a:visited {
  color: var(--color-white);
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-primary);
  color: var(--color-black);
  border-color: unset;
  border: 0;
  border-radius: 0.75rem;
  box-shadow: none;

  width: 100%;
  padding: 1.75rem;
  min-width: 10ch;
  max-height: 2.5rem;

  text-align: center;
  white-space: nowrap;
}

@media (min-width: 768px) {
  button {
    padding: 1.5rem 2rem;
    width: auto;
  }
}

button:hover {
  cursor: pointer;
  opacity: 0.8;
}

button.secondary {
  background-color: transparent;
  color: var(--color-white);
  border: 1px solid var(--color-white);
}
